.slick-dots{
    bottom: 15px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #c09578;
    transform: scale(1.3);

}

.slick-dots li button:before{
    font-size: 12px;
}

.slick-dots li button:before{
    color: #fff;
    opacity: 1;
}